html, body {
    padding: 0;
    margin: 0;
    background-color: #151515;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

.hero {
    background-color: #202020;
    color: white;
    padding: 50px 30px;
    text-align: center;
    position: relative;
}

.hero h1 {
    font-weight: normal;
    font-size: 6rem;
    margin: 0;
}

.hero h1 small {
    font-size: 1rem;
}

.other-media {
    display: flex;
    justify-content: center;
    margin: 10px
}

.other-media a {
    margin: 10px;
}

.filter-nav {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.filter-nav a {
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:black;
    padding: 9px;
    border: 1px solid;
    border-radius: 6px;
    background: white;
    margin: 4px;
}

.streamers {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 5%;
    flex-wrap: wrap;
    display:flex;
    background: #202020;
    border-radius: 10px;
}

.streamer-card {
    width: 300px;
    margin: 0 auto 20px auto;
    color: white;
    background: linear-gradient(to bottom, #151515, #151515, #ffffff);
    border-radius: 20px 20px 20px 20px;
    border-color: #303030;
    border-width: 6px;
    border-style: solid;
}

.card-photo img {
    background-color: #00000050;
    max-width: 290px;
    max-height: 290px;
    margin: 5px 5px 5px 5px;
    display: flex;
    object-fit:cover;
    border-radius: 12px 12px 12px 12px;
}

.card-name {
    max-height: 105px;
    margin: 5px 5px;
    border-radius: 0 0 12px 12px;
    padding-bottom: 10px;
}

.card-name h3{
    margin: 10px 0 5px 8px;
    color: white;
}

.card-name p {
    margin-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    background-color: #00000050;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
    overflow:hidden;
    vertical-align: middle;
    height: 75px;
}

.card-footer {
    width: 280px;
    display: flex;
    margin: 5px 0px 5px 0px;
}

.card-links {
    margin-top: 4px;
    overflow: hidden;
    display: flex;
    width: 220px;
}

.card-footer {
    margin-left: 10px;
}

.card-footer a {
    margin-right: 10px;
}

.card-footer img {
    max-width: 1.5rem;
}

.card-live-status {
    height: 26px;
    margin-top: 6px;
    overflow: hidden;
    text-align:right;
    width: 80px;
}

.card-live-status small {
    margin: 0;
}
