html, body {
    padding: 0;
    margin: 0;
    background-color: #101010;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
    background-color: #151515;
    color: white;
    padding: 50px 30px;
    text-align: center;
    position: relative;
}

.hero h1 {
    font-weight: normal;
    font-size: 6rem;
    margin: 0;
}

.hero h1 small {
    font-size: 1rem;
}

.other-media {
    display: flex;
    justify-content: center;
    margin: 10px
}

.other-media a {
    margin: 10px;
}

.filter-nav {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.filter-nav a {
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:black;
    padding: 9px;
    border: 1px solid;
    border-radius: 6px;
    background: white;
    margin: 4px;
}

.streamers {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: wrap;
    display:flex;
    background: #121212;
}

.streamer-card {
    width: 300px;
    margin: 0 auto 10px auto;
    color: white;
    background: linear-gradient(to bottom, #151515, #151515, #ffffff);
    border-radius: 20px;
    border-color: black;
    border-width: 6px;
    border-style: solid;
}

.streamer-card:hover {
    transition: 0.3s all ease-in-out;
    border-color: white;
    border-width: 6px;
}


.card-photo img {
    background-color: #00000030;
    width: 280px;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: row;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
    border-bottom: #ffffff11 2px solid;
    border-right: #ffffff11 2px solid;
    border-left: #00000011 2px solid;
    border-top: #00000011 2px solid;
}

.card-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 0 12px 12px;
    align-content: center;
}

.card-name h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
    color: white;
}

.card-name p {
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    margin: 5px 10px;
    padding: 5px 10px;
    background-color: #00000030;
    height: 80px;
    max-height: 80px;;
    line-height: 20px;
    font-size: 14px;
    border-radius: 0 0 6px 6px;
}

.card-footer {
    margin: 0;
    padding: 0 10px;
    border-radius: 0 0 12px 12px;
    display: flex;
    width: 300;
    background-color: #00000030;
}

.card-links {
    margin-left: 10px;
    height: 30px;
    margin-top: 4px;
    overflow: hidden;
}

.card-footer a {
    margin-right: 5px;
}

.card-footer img {
    max-width: 1.5rem;
}

.card-live-status {
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
